# Node modules
server/node_modules/
client/node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

# Environment variable files
.env
server/.env
client/.env

# Build and dependency directories
dist/
client/dist/
.cache/
client/.cache/
.temp/
client/.temp/
out/
client/out/
build/
client/build/

# IDEs and editors
.vscode/
server/.vscode/
client/.vscode/
.idea/
server/.idea/
client/.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS files
.DS_Store
Thumbs.db

# Others
*.bak
*.tmp